<div class="reset">
  <div class="reset__header">
    <h1 class="reset__title">Quick Chat</h1>
  </div>

  <div class="reset__box">
    <h2 class="reset__heading">Reset Password</h2>
    <form>
      <div class="reset__form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" />
      </div>

      <div class="reset__form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" />
      </div>

      <div class="reset__actions">
        <button type="submit" class="btn">Submit</button>
      </div>

      <div class="reset__login">
        <span>Remember password?</span>&nbsp;
        <a [routerLink]="['/login']" class="reset__linl">Back to login</a>
      </div>
    </form>
  </div>
</div>
